:root {
    --test: aqua
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-bottom: 1px solid #0cc2d2;
    padding: 10px 30px;
    background-color: #c3025c;
  }

  header ul {
    display: inline-flex;
    list-style-type: none;
    padding-left: 50px;
  }

  h1 {
    color: var(--test);
  }

  li {
    padding: 10px;
    color: var(--test);
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
  }

  img {
    width: 100%;
    height: 250px;
  }

  .background {
    overflow: hidden;
    position: relative;
    text-align: center;
    color: aquamarine;
  }

  .Subtitle h2 {
    background-color: #1e88a5;
    overflow: hidden;
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: transparent;
    font-size: 300%;
}

.Subtitle span {
  background: url(../images/background.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: block;
  /* font-size: 35px; */
}

  .Subtitle {
    position: absolute;
    bottom: 15px;
    right: 30px;
  }

  .About-Me {
    display: flex;
    align-items: baseline;
    padding-left: 10%;
  }

  .About-Me h2 {
    justify-content: flex-end;
    text-align: end;
    padding-left: 10%;
    font-size: 225%;
    font-family: Arial, Helvetica, sans-serif;
  }

  .verticalLine {
    border-left: thick solid #ff0000;
    margin-left: 1%;
  }

  .Work {
    display: flex;
    align-items: baseline;
    padding-left: 10%;
  }

  .Work h2 {
    justify-content: flex-end;
    text-align: end;
    padding-left: 10%;
    font-size: 225%;
    font-family: Arial, Helvetica, sans-serif;
  }

  .Work span {
    color: transparent;
  }

  p {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 1%;
    margin-left: 2%;
  }

