:root {
    --secondary: aqua;
    --Arial: Arial, Helvetica, sans-serif;
    --Gothic: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: rgb(110, 91, 91);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-bottom: 5px solid var(--secondary);
    padding: 10px 30px;
    background-color: black;
  }

  a {
    text-decoration: none;
    color: var(--secondary);
  }

  header ul,
  footer ul {
    display: inline-flex;
    list-style-type: none;
    padding-left: 50px;
    flex-wrap: wrap;
  }

  h1 {
    background-color: var(--secondary);
    margin-left: -30px;
    padding-left: 50px;
  }

  li {
    padding: 10px;
    color: var(--secondary);
    font-size: larger;
    font-family: var(--Arial);
  }

  img {
    width: 100%;
    height: 250px;
  }

  .background {
    overflow: hidden;
    position: relative;
    text-align: center;
    color: aquamarine;
  }

  .Subtitle {
    flex-wrap: wrap;
  }

  /*The following 'Subtitle' tags are the tags that allowed the see-through effect of the Subtitle text*/
  .Subtitle h2 {
    background-color: var(--secondary);
    overflow: hidden;
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    font-family: var(--Gothic);
    color: transparent;
    font-size: 225%;
}

.Subtitle span {
  background: url(../images/background.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: block;
}

  .Subtitle {
    position: absolute;
    bottom: 15px;
    right: 30px;
  }

  .About-Me-Work {
    display: flex;
    align-items: baseline;
    padding-left: 10%;
  }

  .About-Me-Work h2 {
    justify-content: flex-end;
    text-align: end;
    padding-left: 10%;
    font-size: 225%;
    font-family: var(--Arial);
  }

  /*This one is all in the name, it just created the vertical lines*/
  .verticalLine {
    border-left: thick solid var(--secondary);
    margin-left: 1%;
  }


  .About-Me-Work span,
  .Resume span {
    color: transparent;
  }

  /*The 'image gallery' tags are responsible for placing the images of the cats and having them wrap when the screen gets smaller.*/
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    list-style-type: none;
  }

  .image-gallery > li {
    flex-basis: 400px;
  
  }
  
  .image-gallery li img {
    flex-wrap: wrap;
    object-fit: cover;
    width: 100%;
    height: auto;
    vertical-align: middle;
  
  }


  /*The following 'cat' tags took care of adding the kitty's names inside of the images.*/
  .cats {
    position: relative;
    
  }

  .cat-names {
    flex-wrap: wrap;
    position: absolute;
    bottom: 8px;
    right: 16px;
    background-color: #c3025c;

  }

  button {
    padding: 0px;
    border: 5px solid #13293d;
    border-radius: 3px;
  }

  button:hover {
    box-shadow: 10px 10px 10px var(--secondary);
  }

  button:active {
    outline: none;
  border-color: var(--secondary);
  box-shadow: none;
  }

 
  p {
    font-size: 20px;
    color: black;
    font-family: var(--Gothic);
    margin-right: 1%;
    margin-left: 2%;
  }

  footer {
  display: flex;
  align-items: center;
  justify-content: space-around; 
  border-top: 5px solid var(--secondary) ;
  padding: 10px 30px;
  background-color: black;
  }
    
  
/*#0cc2d2*/